body {
    background-color:#293a56;
    font-family: Arial;
}
#header {
    margin: 0px auto;
    height: 60px;
    width: 100%;
    border-collapse: collapse;
}

    #header td {
        margin: 0px auto;
        background-color: #c2dea2;
        width: 200px;
        text-align: center;
        text-decoration:none;
    }


#naslov {
    font-size: xx-large;
    text-align: center;
    padding-bottom: 30px;
    color:#ffffff;
    padding-top: 20px;
}

a {
    text-decoration: none;
    font-size: x-large;
}  

#sele {
    background-color:#467c39;
}

#boja {
    color:red;
}
.empty {
    width: 12%;
    background-color: #c2dea2;
}
#footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:15px;
    text-align: center;
    padding: 10px 0px;
    background-color: #467c39;
    color: #f4f29b;
}
#tekst {
    font-size:20px;
    color:black;
    background-color:#c2dea2;
    border-radius:20px;
    margin-left:20px;
    width:1850px;
     height:240px;
     box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
}
#tekst:hover{
   background-color:#ffd800;
}

#tekst2 {
    font-size:20px;
    color:black;
    background-color:#c2dea2;
    width:580px;
     height:140px;
     margin-left:50px;
     border-radius:25px;
     box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
}
#tekst2:hover{
   background-color:#ffd800;
}
#tekst3 {
    font-size:20px;
    color:black;
    background-color:#c2dea2;
    width:580px;
     height:140px;
     margin-top:70px;
     margin-left:0px;
     border-radius:25px;
     box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
}
#tekst3:hover{
   background-color:#ffd800;
}
#tekst4 {
    font-size:20px;
    color:black;
    background-color:#c2dea2;
    width:580px;
     height:140px;
     margin-top:70px;
     margin-left:0px;
     border-radius:25px;
     box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
}
#tekst4:hover{
   background-color:#ffd800;
}
#tekst5 {
    font-size:20px;
    color:black;
    background-color:#c2dea2;
    width:580px;
     height:140px;
     margin-top:70px;
     margin-left:0px;
     border-radius:25px;
     box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
}
#tekst5:hover{
   background-color:#ffd800;
}
#tekst6 {
    font-size:20px;
    color:black;
    background-color:#c2dea2;
    width:580px;
     height:140px;
     margin-top:70px;
     margin-left:0px;
     border-radius:25px;
     box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
}
#tekst6:hover{
   background-color:#ffd800;
}
#tekst7 {
    font-size:20px;
    color:black;
    background-color:#c2dea2;
    width:580px;
     height:140px;
     margin-top:70px;
     margin-left:0px;
     border-radius:25px;
     box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
}
#tekst7:hover{
   background-color:#ffd800;
}
.b1 {
border:2px black;
cursor:pointer;
font-size:15px;
border-radius:10px;
padding:20px 50px;
margin-left:100px;
margin-top:0px;
background-color:#467c39;
color:white;
display:inline-block;
transition:background-color 0.4s;
}
.b1:hover {
    background-color:red;
}
.b2 {
border:2px black;
cursor:pointer;
font-size:15px;
border-radius:10px;
padding:20px 50px;
margin-left:210px;
margin-top:5px;
background-color:#467c39;
color:white;
display:inline-block;
transition:background-color 0.4s;
}
.b2:hover {
    background-color:red;
}
.img1 {
    width:250px;
height:230px; 
margin-left:1500px;
position:absolute;
top:185px;
}
.img2 {
    width:250px;
height:230px; 
margin-left:1500px;
position:absolute;
top:450px;
}
.img3 {
    width:250px;
height:230px; 
margin-left:1200px;
position:absolute;
top:715px;
}
.img9 {
    width:250px;
height:230px; 
margin-left:1500px;
position:absolute;
top:715px;
}
.img4 {
    width:250px;
height:230px; 
margin-left:1500px;
position:absolute;
top:980px;
}
.img5 {
    width:250px;
height:230px; 
margin-left:1500px;
position:absolute;
top:1243px;
}
.img6 {
    width:250px;
height:230px; 
margin-left:1500px;
position:absolute;
top:1508px;
}
.img7 {
    width:250px;
height:230px; 
margin-left:1500px;
position:absolute;
top:1773px;
}
.img8 {
    width:250px;
height:230px; 
margin-left:1500px;
position:absolute;
top:2037px;
}
.p1{
    margin:20px 30px;
}
h {
    margin-top:50px;
}
p {
    margin-top:30px;
}

